# config file for game rules
# rules name: SRTDM    
# rules description:
    
    teams = team1.cfg;
    
    gamemode_name = 3D_TestGrounds
    gamemode_info = Just A Testing Ground
    
    scripts = EngineSettings.as;
              Server.as;
              Client.as;
              ChatCommands.as;
			        Rules.as;
              Respawning.as;
              RequestSpawnOnDeath.as;
              PlayerCamera.as;
 	

	  no_shadowing                       = true          # turn lighting OFF
	  minimap = no  
    daycycle_speed = 0 			# 1 day = X minutes; / 0 no cycle
    daycycle_start = 0.5        # 0.0 midnight; 0.5 - midday; 1.0 midnight
  
    minimum_players_inteam = 1   
    playerrespawn_seconds = 0